node_modules
target

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db
*.db-shm
*.db-wal

.dev.vars*
!.dev.vars.example
