@import 'tailwindcss';

@theme {
	--color-background: #f8f8f7;
	--color-background-dark: #f0f0ef;
	--color-background-darker: #e8e8e7;
	--color-background-darkest: #e0e0df;

	--color-primary: #007bff;
}

html,
body {
	background-color: var(--color-background);
}
